body {
    background-color: #F5F5F5 ;
}

header {
    display: flex;
}

p, label, input, h2 {
    color: #30475E;
    font-family: Helvetica, sans-serif;
}


header > h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 10em;
    margin: 10px 30px 10px 5px;
    color: #121212;
}

h2 {
    font-size: 2em;
}

.text-questions {
    display: block;
    width: 300px;
}

.text-questions input {
    align-items: flex-end;
    float:right;
}

#event-name {
    width: 150px;
}



#number-of-guests {
    width: 40px;

}

#room-name {
    width: 150px;
   
}

.description-box {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.recurring-question {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.radio-buttons {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}